{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "plugins": ["import"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "no-eval": "error"
  }
}
