.dock {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    width: 806px;
    height: 72px;
    border-radius: 20px;
    margin: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    bottom: -530px;
}

ul > li {
    display: inline;
}

ul > li > span > img {
    width: 64px;
}

.dot-indicator {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 512px;
    background: white;
    position: relative;
    left: -4.5%;
    bottom: -5px;
}

.icon {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}