.status-bar {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  width: 100%;
  height: 28px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  z-index: 0;
  top: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 60px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 60px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 60px;
  box-shadow: rgb(255 255 255 / 30%) 0 1px 1px inset;
  -webkit-box-shadow: rgb(255 255 255 / 30%) 0 1px 1px inset;
  -moz-box-shadow: rgb(255 255 255 / 30%) 0 1px 1px inset;
}

.status-bar-menu {
  float: left;
  padding-left: 8px;
  width: 70%;
  display: inline-flex;
  list-style: none;
  padding-top: 2px;
}

.status-bar-menu-option {
  color: #ffffff;
  display: inline;
  margin-right: 2px;
  font-size: 14px;
  font-smooth: always;
  font-weight: 500;
  cursor: default;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  transition: background 0.1s ease-in-out;
  outline: none;
}

.status-bar-menu-option:focus {
  background: rgb(255 255 255 / 30%);
}

.status-bar-apple-icon {
  filter: invert(1);
  -webkit-filter: invert(1);
  margin-top: 2px;
  width: 15px;
  transition: background 0.1s ease-in-out;
}

.status-bar-apple-icon:focus {
  background: rgb(255 255 255 / 30%);
}

.status-bar-menu-right {
  float: right;
  margin-right: 16px;
  outline: none;
}

.status-bar-menu-right-option {
  color: #ffffff;
  display: inline;
  margin-right: 2px;
  font-size: 14px;
  font-smooth: always;
  font-weight: 500;
  cursor: default;
  padding: 7px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  transition: background 0.1s ease-in-out;
  outline: none;
}

.status-bar-menu-right-option:focus {
  background: rgb(255 255 255 / 30%);
}

.status-bar-menu-option ul li {
  cursor: pointer;
  width: 256px;
  list-style: none;
  padding: 3px;
  text-align: left;
  margin-left: -32px;
  border-radius: 4px;
  padding-right: 16px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 16px;
  color: #000;
}

.status-bar-menu-option ul li:hover {
  background: #3789F6;
  color: #fff;
}

.status-bar-menu-option ul {
  visibility: hidden;
  opacity: 1;
  position: fixed;
  top: 29px;
  border-radius: 8px;
  left: 10px;
  display: block;
  background: rgba(208 208 206 / 40%);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 80px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 80px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 80px;
}

.status-bar-menu-option:focus {
  ul {
    visibility: visible;
    opacity: 1;
    display: block;
  }
}


