.dock {
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    width: 806px;
    height: 72px;
    border-radius: 20px;
    margin: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    z-index: 0;
    bottom: -530px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 60px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 1px 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 60px;
    box-shadow: rgb(255 255 255 / 30%) 0 1px 1px inset;
    -webkit-box-shadow: rgb(255 255 255 / 30%) 0 1px 1px inset;
    -moz-box-shadow: rgb(255 255 255 / 30%) 0 1px 1px inset;
}

.icon-wrapper {
    display: flex;
    list-style: none;
}