.weather-app-theme {
  background: rgba(255, 0, 70, 0.1);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0 / 100);
  position: absolute;
  width: 380px;
  height: 490px;
  top: 200px;
  left: 28%;
  right: 50%;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
  overflow: hidden;
}

.weather-app {
  color: #fff;
}

.temperature {
  color: #fff;
  font-size: 26px;
  font-family: "SF-Display-Bold";
}

.time {
  font-size: 58px;
  color: #fff;
  font-family: "SF-Display-Bold";
  margin-bottom: 0px;
}

.time-period {
  font-size: 18px;
  margin-left: -6px;
  color: #fff;
}

.city {
  font-size: 28px;
}

.weather-input {
  color: #fff;
  text-align: center;
}

.refresh-button {
  background: #fff;
  color: #000;
  border-style: none;
}

.refresh-button:hover {
  background: #000;
  color: #fff;
  border-style: none;
}

.weather-input:focus {
  border-color: #fff;
}
