.loading-widget-content {
  padding-top: 60px;
}

.stock-widget-content {
  float: left;
  position: relative;
  width: 100%;
  padding-left: 20px;
  text-align: left;
}

.stock-symbol {
  color: #323232;
  width: 100%;
  margin-bottom: 0px;
}

.stock-name {
  color: #a9a9a9;
  width: 100%;
}

.stock-price {
  font-weight: bold;
  color: #323232;
  width: 100%;
  margin-top: 50px !important;
  margin-bottom: 0px !important;
}

.positive {
  color: #39bd91;
  width: 100%;
}

.negative {
  color: red;
  width: 100%;
}
